body {
	overflow: hidden;
}

#popup {
	text-align: center;
}
#popup > div {
	position: absolute;
	display: inline-block;
	background-color: #888888;
	
	border: solid 2px #555555;
	border-radius: 5px;
	
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 25px black;
}

.menu_item {
	border: solid 2px #555555;
	border-radius: 5px;
	
	margin: 10px;
	margin-bottom: 8px;
	
	cursor: pointer;
}
.selected_menu_item,
.menu_item:hover {
	border-color: white;
}

#palette > div {
	display: inline-block;
}
#palette_sample {
	height: 60px;
	width: 60px;
	
	margin-left: 10px;
	
	border: solid 2px #555555;
	border-radius: 5px;
}

#info {
	top: 0px;
	left: 0px;
}
#info li {
	text-align: left;
}